@charset "utf-8";
@import "~bulma/sass/utilities/_all.sass";


// Set your brand colors
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: rgb(108, 63, 30);
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$link-hover: darken($pink, 15%);

$info: rgb(16, 195, 185);
$success: rgb(14, 170, 123);
$warning: rgb(205, 149, 23);
$danger: rgb(167, 23, 23);
$light: rgb(213, 240, 234);
$dark: rgb(7, 23, 47);

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)), $custom-colors);

@import "~bulma/bulma";

// Own styles

.has-small-radius {border-radius: 2px}
.has-normal-radius {border-radius: 4px}
.has-medium-radius {border-radius: 8px}
.has-large-radius {border-radius: 16px}
