<template lang="html">
  <div class="container">
    <div class="columns">

      <!-- Signin -->
      <div class="column has-background-primary has-small-radius is-4 is-offset-4 section">
        <h1 class="title has-text-centered has-text-white">Ingresar</h1>

        <form @submit.prevent="signIn()">

          <div class="columns is-gapless is-multiline">
            <div class="field column is-12">
              <label class="label has-text-white" for="nombres">Correo</label>
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" v-model="user.email" placeholder="Email" autocomplete="off" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field column is-12">
              <label class="label has-text-white" for="nombres">Contraseña</label>
              <p class="control has-icons-left">
                <input class="input" type="password" v-model="user.password" placeholder="Password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="columns">
            <div class="field column is-narrow">
              <p class="control">
                <button class="button is-outlined is-success" type="submit">
                  <span>
                    Ingresar
                  </span>
                  <span class="icon is-small">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                </button>
              </p>
            </div>

            <div class="field column">
              <nuxt-link to="/users/sign/up">¿Usuario nuevo?</nuxt-link>
            </div>
          </div>
          {{currentUser}}
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  transition: 'signin',
  data () {
    return {
      user: {
        email: null,
        password: null
      },
      currentUser: null
    }
  },
  methods: {
    async signIn() {
      this.$axios
        .$post('/Users/login', this.user)
        .then(response => {
          localStorage.setItem('restaurantToken', response.id)
          localStorage.setItem('restaurantUserId', response.userId)
        })
        .catch(e => {
          console.log(e);
        })
    }
  }
}
</script>

<style lang="scss">
.signin-enter-active, .signin-leave-active {
  transition: all 1s;
}
.signin-enter, .signin-leave-active {
  opacity: 0;
}
</style>
