<template lang="html">
  <div class="container">
    <div class="columns">

      <!-- Singup -->
      <div class="column section is-three-fifths is-offset-one-fifth">

          <h1 class="title has-text-centered">Registrate</h1>

          <form @submit.prevent="signUp()">
            <div class="columns">
              <div class="field column">
                <label class="label" for="nombres">Nombres</label>
                <div class="control">
                  <input class="input is-rounded" id="nombres" ref="nombres" v-model="user.nombres" type="text" placeholder="Nombres" required>
                </div>
              </div>

              <div class="field column">
                <label class="label" for="apellidos">Apellidos</label>
                <div class="control">
                  <input class="input is-rounded" id="apellidos" ref="apellidos" v-model="user.apellidos" type="text" placeholder="Apellidos" required>
                </div>
              </div>

            </div>

            <div class="columns">

              <div class="field column is-narrow">
                <label class="label" for="tipo_documento">Tipo Documento</label>
                <div class="control">
                  <div class="select is-rounded">
                    <select id="tipo_documento" ref="tipo_documento" v-model="user.tipo_documento">
                      <option>CC</option>
                      <option>TI</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field column">
                <label class="label" for="documento">Documento</label>
                <div class="control">
                  <input class="input is-rounded" type="number" placeholder="Documento" id="documento" ref="documento" v-model="user.documento" required>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="field column">
                <label class="label" for="email">Correo</label>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" autocomplete="off" id="email" ref="email" v-model="user.email" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
            </div>

            <div class="columns">

              <div class="field column">
                <label class="label" for="password">Contraseña</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="password" ref="password" v-model="user.password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field column">
                <label class="label" for="confirm_password">Confirmar Contraseña</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Confirmar" id="confirm_password" ref="confirm_password" v-model="user.confirm_password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="field column is-narrow">
                <p class="control">
                  <button class="button is-outlined is-success" type="submit">
                    <span class="icon is-small">
                      <i class="fas fa-save"></i>
                    </span>
                    <span>
                      Registrar
                    </span>
                  </button>
                </p>
              </div>
              <div class="field column">
                <nuxt-link to="/users/sign/in">Ingresar</nuxt-link>
              </div>
            </div>

          </form>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  transition: 'signup',
  data () {
    return {
      user: {
        nombres: null,
        apellidos: null,
        tipo_documento: null,
        documento: null,
        email: null,
        password: null,
        confirm_password: null
      }
    }
  },
  computed: {
    currentNombres () {
      return this.user.nombres
    },
  },
  methods: {
    async signUp() {
      this.$axios
        .$post('/Users', this.user)
        .then(response => {
          console.log(response);
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
}
</script>

<style lang="scss">
.signup-enter-active, .signup-leave-active {
  transition: all 1s;
}
.signup-enter, .signup-leave-active {
  opacity: 0;
}
</style>
