<template lang="html">
  <div class="notification" :class="'has-background-'+$store.state.notifications.notificationState" v-show="$store.state.notifications.showNotification">
    <button class="delete" @click="closeNotification"></button>
    Primar lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
    consectetur adipiscing elit
  </div>
</template>

<script>
export default {
  data () {
    return {

    }
  },
  methods: {
    closeNotification() {
      // this.showNotification = false
    }
  }
}
</script>

<style lang="scss">
.notification{
  position: fixed;
  top: 48px;
  right: 2px
}

</style>
