<template lang="html">
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="~/assets/images/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.png" alt="Logo" width="28" height="28">
        </a>

        <a role="button" class="navbar-burger" :class="{ 'is-active': showNav }" @click="showMenu()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" :class="{ 'is-active': showNav }">
        <div class="navbar-end">
          <nuxt-link class="navbar-item" to="/">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
          </nuxt-link>
          <nuxt-link class="navbar-item" to="/productos">Productos</nuxt-link>
          <nuxt-link class="navbar-item" to="/mesas">Mesas</nuxt-link>
          <nuxt-link class="navbar-item" to="/contacto">Contacto</nuxt-link>

          <!-- Dropdown user control -->
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class="icon" v-if="!$store.state.currentUser">
                <i class="fa fa-user"></i>
              </span>
              <span v-else>{{$store.state.currentUser.nombres}}</span>
            </a>

            <div class="navbar-dropdown" v-if="!$store.state.currentUser">
              <nuxt-link class="navbar-item" to="/users/sign/in">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
              </nuxt-link>
              <nuxt-link class="navbar-item" to="/users/sign/up">
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
              </nuxt-link>
            </div>
            <div class="navbar-dropdown" v-else>
              <nuxt-link class="navbar-item" to="/users/">
                <span>
                  Mi Cuenta
                </span>
              </nuxt-link>
              <a class="navbar-item" role="button" @click="logOut()">
                <span>Salir</span>
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
              </a>
            </div>
          </div>

        </div>

      </div>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      showNav: false
    }
  },
  methods: {
    // Show menu in small screens like smarthphone or tablet
    showMenu() {
      this.showNav = !this.showNav
    },
    // Close current user sesion
    logOut() {
      this.$axios
        .$post('/Users/logout', {}, {
          headers: {
            'Authorization': localStorage.restaurantToken
          }
        })
        .then(response => {
          localStorage.removeItem('restaurantToken')
          localStorage.removeItem('restaurantUserId')
        })
        .catch(e => {
          console.log(e);
        })
    }
  }
}
</script>

<style lang="css">
</style>
