<template lang="html">
  <div class="container">
    <div class="columns">

      <div class="column">
        <h1>Ingresar</h1>
      </div>

    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
