<template>
  <div id="app">
    <the-header></the-header>
    <main>
      <nuxt/>
    </main>
    <the-footer></the-footer>
    <notifications></notifications>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  import TheHeader from '../components/TheHeader'
  import TheFooter from '../components/TheFooter'
  import Notifications from '../components/Notifications'

  export default {
    mounted() {
      // Look if some user is logged in
      if (localStorage.restaurantUserId) {
        this.$axios
          .$get('http://localhost:3001/api/Users/'+localStorage.restaurantUserId, {
            headers: {
              'Authorization': localStorage.restaurantToken
            }
          })
          .then(response => {
            this.$store.commit('loadCurrentUser', response)
          })
          .catch(e => {
            console.log(e);
          })
      }
    },
    components: {
      TheHeader,
      TheFooter,
      Notifications
    }
  }
</script>

<style>
  html {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  }
  .active {
    background-color: rgb(62, 43, 11);
    color: #fff
  }
  #app {
    display:flex;
    min-height: 100vh;
    flex-direction: column
  }
  #app main {
    flex: 1
  }
</style>
